<div id="container">
  <header id="title">
    <h1>{{ project.name }}</h1>
  </header>

  <section id="viz-content">
    
  </section>

  <div id="leaflet-map" style="width: 600px; height: 600px;">
    
  </div>

</div>